.version.index /* version checker */
{
	color: #0000F1;
	background-color: #3B7F74;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2367.7px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 487px;
	width: 0.01px;
}

#pu193
{
	width: 0.01px;
	margin-left: -280px;
}

#u193
{
	z-index: 101;
	width: 180px;
	min-height: 59px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
}

#u126
{
	z-index: 37;
	min-height: 98px;
	padding-bottom: 588px;
	background: transparent url("../images/dark_ocean_wallpaper_hd_1080p.jpg") no-repeat center bottom;
	background-size: cover;
}

#u126_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#menuu75
{
	z-index: 38;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 100px;
}

#u86
{
	width: 190px;
	background-color: transparent;
	padding-bottom: 68px;
	position: relative;
}

#u86:hover
{
	border-style: none;
	border-color: transparent;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u86:active
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u87-4
{
	width: 190px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #00A6FF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 34px;
}

#u86:hover #u87-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u86:active #u87-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u86:hover #u87-4 p
{
	color: #52C6FF;
	visibility: inherit;
	font-size: 16px;
	text-decoration: none;
}

#u86:active #u87-4 p
{
	color: #52C6FF;
	visibility: inherit;
	font-size: 16px;
	text-decoration: none;
}

#u94
{
	width: 190px;
	background-color: transparent;
	padding-bottom: 68px;
	position: relative;
}

#u94:hover
{
	border-style: none;
	border-color: transparent;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u94:active
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u95-4
{
	width: 190px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #00A6FF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 34px;
}

#u86.MuseMenuActive #u87-4,#u94:hover #u95-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u94:active #u95-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u94:hover #u95-4 p
{
	color: #52C6FF;
	visibility: inherit;
	font-size: 16px;
	text-decoration: none;
}

#u94:active #u95-4 p
{
	color: #52C6FF;
	visibility: inherit;
	font-size: 16px;
	text-decoration: none;
}

#u99
{
	width: 190px;
	background-color: transparent;
	padding-bottom: 68px;
	position: relative;
}

#u99:hover
{
	border-style: none;
	border-color: transparent;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u99:active
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u100-4
{
	width: 190px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #00A6FF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 34px;
}

#u94.MuseMenuActive #u95-4,#u99:hover #u100-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u99:active #u100-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u99:hover #u100-4 p
{
	color: #52C6FF;
	visibility: inherit;
	font-size: 16px;
	text-decoration: none;
}

#u99:active #u100-4 p
{
	color: #52C6FF;
	visibility: inherit;
	font-size: 16px;
	text-decoration: none;
}

#u108
{
	width: 191px;
	background-color: transparent;
	padding-bottom: 68px;
	position: relative;
}

#u108:hover
{
	border-style: none;
	border-color: transparent;
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u108:active
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u110-4
{
	width: 191px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #00A6FF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 34px;
}

#u108:hover #u110-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u108:active #u110-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u108:hover #u110-4 p
{
	color: #52C6FF;
	visibility: inherit;
	font-size: 16px;
	text-decoration: none;
}

#u108:active #u110-4 p
{
	color: #52C6FF;
	visibility: inherit;
	font-size: 16px;
	text-decoration: none;
}

#u115
{
	width: 191px;
	background-color: transparent;
	padding-bottom: 68px;
	position: relative;
}

#u115:hover
{
	border-style: none;
	border-color: transparent;
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u115:active
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u116-4
{
	width: 191px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #00A6FF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 34px;
}

#u108.MuseMenuActive #u110-4,#u115:hover #u116-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u115:active #u116-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u115:hover #u116-4 p
{
	color: #52C6FF;
	visibility: inherit;
	font-size: 16px;
	text-decoration: none;
}

#u115:active #u116-4 p
{
	color: #52C6FF;
	visibility: inherit;
	font-size: 16px;
	text-decoration: none;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u126-bw
{
	z-index: 37;
	min-height: 98px;
}

#pu139
{
	width: 0.01px;
	padding-bottom: 90px;
	margin-left: -100px;
	margin-top: -368px;
}

#u139
{
	z-index: 69;
	height: 90px;
	background-color: #FFFFFF;
}

#u139-bw
{
	z-index: 69;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 282px;
}

#menuu141
{
	z-index: 70;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 283px;
	left: 0px;
}

#u83,#u149
{
	width: 190px;
	min-height: 85px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u150
{
	width: 190px;
	background-color: transparent;
	padding-bottom: 68px;
	position: relative;
}

#u150:hover
{
	border-style: none;
	border-color: transparent;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u150:active
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u153-4
{
	width: 190px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #006837;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 34px;
}

#u99.MuseMenuActive #u100-4,#u150:hover #u153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u150:active #u153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u150:hover #u153-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 15px;
	text-decoration: none;
}

#u150:active #u153-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 15px;
	text-decoration: none;
}

#u91,#u156
{
	width: 190px;
	min-height: 85px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 192px;
}

#u157
{
	width: 190px;
	background-color: transparent;
	padding-bottom: 68px;
	position: relative;
}

#u157:hover
{
	border-style: none;
	border-color: transparent;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u157:active
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u160-4
{
	width: 190px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #006837;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 34px;
}

#u150.MuseMenuActive #u153-4,#u157:hover #u160-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u157:active #u160-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u157:hover #u160-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 15px;
	text-decoration: none;
}

#u157:active #u160-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 15px;
	text-decoration: none;
}

#u98,#u163
{
	width: 190px;
	min-height: 85px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 384px;
}

#u164
{
	width: 190px;
	background-color: transparent;
	padding-bottom: 68px;
	position: relative;
}

#u164:hover
{
	border-style: none;
	border-color: transparent;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u164:active
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u86.MuseMenuActive,#u94.MuseMenuActive,#u99.MuseMenuActive,#u150.MuseMenuActive,#u157.MuseMenuActive,#u164.MuseMenuActive
{
	border-color: #000000;
	width: 190px;
	min-height: 0px;
	margin: 0px;
}

#u167-4
{
	width: 190px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #006837;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 34px;
}

#u157.MuseMenuActive #u160-4,#u164:hover #u167-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u164:active #u167-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u164.MuseMenuActive #u167-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u164:hover #u167-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 15px;
	text-decoration: none;
}

#u164:active #u167-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 15px;
	text-decoration: none;
}

#u105,#u170
{
	width: 191px;
	min-height: 85px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 576px;
}

#u171
{
	width: 191px;
	background-color: transparent;
	padding-bottom: 68px;
	position: relative;
}

#u171:hover
{
	border-style: none;
	border-color: transparent;
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u171:active
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u172-4
{
	width: 191px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #006837;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 34px;
}

#u115.MuseMenuActive #u116-4,#u171:hover #u172-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u171:active #u172-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u171:hover #u172-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 15px;
	text-decoration: none;
}

#u171:active #u172-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 15px;
	text-decoration: none;
}

#u112,#u142
{
	width: 191px;
	min-height: 85px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 769px;
}

#u145
{
	width: 191px;
	background-color: transparent;
	padding-bottom: 68px;
	position: relative;
}

#u145:hover
{
	border-style: none;
	border-color: transparent;
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u145:active
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u108.MuseMenuActive,#u115.MuseMenuActive,#u171.MuseMenuActive,#u145.MuseMenuActive
{
	border-color: #000000;
	width: 191px;
	min-height: 0px;
	margin: 0px;
}

#u148-4
{
	width: 191px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #006837;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 34px;
}

#u171.MuseMenuActive #u172-4,#u145:hover #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u145:active #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u145.MuseMenuActive #u148-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u145:hover #u148-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 15px;
	text-decoration: none;
}

#u145:active #u148-4 p
{
	color: #000000;
	visibility: inherit;
	font-size: 15px;
	text-decoration: none;
}

#u86.MuseMenuActive #u87-4 p,#u94.MuseMenuActive #u95-4 p,#u99.MuseMenuActive #u100-4 p,#u108.MuseMenuActive #u110-4 p,#u115.MuseMenuActive #u116-4 p,#u150.MuseMenuActive #u153-4 p,#u157.MuseMenuActive #u160-4 p,#u164.MuseMenuActive #u167-4 p,#u171.MuseMenuActive #u172-4 p,#u145.MuseMenuActive #u148-4 p
{
	color: #7F7F7F;
	visibility: inherit;
	font-size: 14px;
}

#u183-4
{
	z-index: 2;
	min-height: 85px;
}

#u183-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 85px;
	margin: 0px;
}

.para
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u183-4-bw
{
	z-index: 2;
	min-height: 85px;
	margin-top: 59px;
}

#u185-7
{
	z-index: 6;
	width: 960px;
	margin-top: 50px;
	position: relative;
}

#u185-7:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 960px;
	margin: 50px 0px 0px;
}

#u187-10
{
	z-index: 13;
	min-height: 238px;
}

#u187-10:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 238px;
	margin: 0px;
}

#u187-10-bw
{
	z-index: 13;
	min-height: 238px;
	margin-top: 84px;
}

#pu189-7
{
	width: 0.01px;
	margin-top: 103px;
}

#u189-7
{
	z-index: 23;
	width: 376px;
	position: relative;
	margin-right: -10000px;
}

#u191-7
{
	z-index: 30;
	width: 376px;
	position: relative;
	margin-right: -10000px;
	left: 584px;
}

#u189-7:hover,#u191-7:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 376px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

